:root {
  --rh__primary-base: rgb(0,200,5);
  --rh__primary-hover: rgba(0,180,5,1);
  --rh__primary-pressed: rgba(0,160,4,1);
  --rh__primary-light-base: rgba(0,200,5,0.3);
  --rh__primary-lightest-base: rgba(0,200,5,0.1);
  --rh__semantic-positive-base: rgb(0,200,5);
  --rh__semantic-positive-light: rgba(0,200,5,0.3);
  --rh__semantic-negative-base: rgb(255,80,0);
  --rh__semantic-negative-light: rgba(255,80,0,0.3);
  --rh__semantic-success-base: rgb(0,200,5);
  --rh__semantic-success-light: rgba(0,200,5,0.3);
  --rh__semantic-error-base: rgb(255,80,0);
  --rh__semantic-error-light: rgba(255,80,0,0.3);
  --rh__semantic-scary-base: rgb(255,80,0);
  --rh__semantic-scary-light: rgba(255,80,0,0.3);
  --rh__primary-textOverlay: var(--rh__neutral-bg1);
  --rh__primary-light-textOverlay: var(--rh__primary-base);
  --rh__primary-lightest-textOverlay: var(--rh__primary-base);
  --rh-LEGACY__primary-color-hover: rgba(0,180,5,1);
  --rh__neutral-fg1: rgb(0,0,0);
  --rh__neutral-fg2: rgb(106,114,120);
  --rh__neutral-fg3: rgb(180,189,194);
  --rh__neutral-bg3: rgb(227,233,237);
  --rh__neutral-bg2: rgb(245,248,250);
  --rh__neutral-bg1: rgb(255,255,255);
  --rh__neutral-hover-fg1: rgba(38,38,38,1);
  --rh__neutral-hover-fg2: rgba(128,135,140,1);
  --rh__neutral-hover-fg3: rgba(191,199,203,1);
  --rh__neutral-hover-bg1: rgba(242,242,242,1);
  --rh__neutral-hover-bg2: rgba(233,236,237,1);
  --rh__neutral-hover-bg3: rgba(216,221,225,1);
  --rh__neutral-pressed-fg1: rgba(64,64,64,1);
  --rh__neutral-pressed-fg2: rgba(143,149,154,1);
  --rh__neutral-pressed-fg3: rgba(199,206,209,1);
  --rh__neutral-pressed-bg1: rgba(230,230,230,1);
  --rh__neutral-pressed-bg2: rgba(221,223,225,1);
  --rh__neutral-pressed-bg3: rgba(204,210,213,1);
  --rh__text-color: rgb(0,0,0);
  --rh__shadow__s1: rgba(0,0,0,0.06);
  --rh__shadow__s2: rgba(0,0,0,0.02);
  --rh__focus-inner-color: rgb(0,127,245);
  --rh__focus-outer-color: rgba(0,127,245,0.25);
  --rh__type-palette__textS__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textS__font-size: 13px;
  --rh__type-palette__textS__font-weight: 400;
  --rh__type-palette__textS__line-height: 20px;
  --rh__type-palette__textS__letter-spacing: -0.1px;
  --rh__type-palette__textSBold__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textSBold__font-size: 13px;
  --rh__type-palette__textSBold__font-weight: 700;
  --rh__type-palette__textSBold__line-height: 20px;
  --rh__type-palette__textSBold__letter-spacing: -0.1px;
  --rh__type-palette__textM__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textM__font-size: 15px;
  --rh__type-palette__textM__font-weight: 400;
  --rh__type-palette__textM__line-height: 24px;
  --rh__type-palette__textM__letter-spacing: -0.1px;
  --rh__type-palette__textMBold__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textMBold__font-size: 15px;
  --rh__type-palette__textMBold__font-weight: 700;
  --rh__type-palette__textMBold__line-height: 24px;
  --rh__type-palette__textMBold__letter-spacing: -0.1px;
  --rh__type-palette__textL__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textL__font-size: 18px;
  --rh__type-palette__textL__font-weight: 400;
  --rh__type-palette__textL__line-height: 28px;
  --rh__type-palette__textL__letter-spacing: -0.25px;
  --rh__type-palette__textLBold__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textLBold__font-size: 18px;
  --rh__type-palette__textLBold__font-weight: 700;
  --rh__type-palette__textLBold__line-height: 28px;
  --rh__type-palette__textLBold__letter-spacing: -0.25px;
  --rh__type-palette__displayS__stack: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__displayS__font-size: 21px;
  --rh__type-palette__displayS__font-weight: 500;
  --rh__type-palette__displayS__line-height: 28px;
  --rh__type-palette__displayS__letter-spacing: -0.1px;
  --rh__type-palette__displayM__stack: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__displayM__font-size: 24px;
  --rh__type-palette__displayM__font-weight: 500;
  --rh__type-palette__displayM__line-height: 32px;
  --rh__type-palette__displayM__letter-spacing: -0.33px;
  --rh__type-palette__displayL__stack: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__displayL__font-size: 32px;
  --rh__type-palette__displayL__font-weight: 500;
  --rh__type-palette__displayL__line-height: 40px;
  --rh__type-palette__displayL__letter-spacing: -0.33px;
  --rh__size-palette__gutterWidthXs: 4px;
  --rh__size-palette__gutterWidthSm: 8px;
  --rh__size-palette__gutterWidth: 12px;
  --rh__size-palette__borderRadius: 4px;
  --rh__size-palette__cellHeightSm: 36px;
  --rh__size-palette__cellHeight: 48px;
  --rh__size-palette__cellHeightLg: 60px;
  --rh__size-palette__largeInputPadding: 20px;
  --rh__size-palette___experimentalAnchorTableStickyHeaderZIndex: 1;
  --rh__size-palette___experimentalToastZIndex: 600;
  --rh__size-palette___experimentalNavBarZIndex: 100;
  --rh__size-palette___experimentalPopoverZIndex: 1;
  --rh__size-palette___experimentalModalZIndex: 301;
  --rh__size-palette___experimentalSelectMenuZIndex: 500;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  padding: 0px 20px;
  margin: 0 auto;
}

/* REGISTER */
.login-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.login-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.login-inner_content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  width: 100%;
}

.login-inner_img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.login-inner_form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-left: 50px;
}

.login-form_content {
  max-width: 460px;
  height: 400px;
}

.header-login_title {
  color: var(--rh__text-color);
  font-family: var(--rh__type-palette__displayS__stack);
  font-size: var(--rh__type-palette__displayS__font-size);
  font-style: normal;
  font-weight: var(--rh__type-palette__displayS__font-weight);
  line-height: var(--rh__type-palette__displayS__line-height);
  letter-spacing: var(--rh__type-palette__displayS__letter-spacing);
  margin-bottom: 12px;
}

.login-username_text {
  color: var(--rh__text-color);
  font-family: var(--rh__type-palette__textS__stack);
  font-size: var(--rh__type-palette__textS__font-size);
  font-style: normal;
  font-weight: var(--rh__type-palette__textS__font-weight);
  line-height: var(--rh__type-palette__textS__line-height);
  letter-spacing: var(--rh__type-palette__textS__letter-spacing);
  padding: 9px 0px;
  margin-bottom: var(--rh__size-palette__gutterWidthSm);
}

.login-username_input {
  color: var(--rh__text-color);
  font-family: var(--rh__type-palette__textS__stack);
  font-size: var(--rh__type-palette__textS__font-size);
  font-style: normal;
  font-weight: var(--rh__type-palette__textS__font-weight);
  line-height: var(--rh__type-palette__textS__line-height);
  letter-spacing: var(--rh__type-palette__textS__letter-spacing);
  text-decoration: unset;
  height: 100%;
  padding: 0px;
  min-width: 13px;
  margin-right: 0px;
  margin-left: 0px;
  outline: none;
  border: none;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--rh__size-palette__borderRadius);
  -webkit-transition: border-color 200ms ease 0s;
  transition: border-color 200ms ease 0s;
  background-color: var(--rh__neutral-bg1);
  border-color: var(--rh__neutral-bg3);
  height: var(--rh__size-palette__cellHeightSm);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}

.login-password_input {
  color: var(--rh__text-color);
  font-family: var(--rh__type-palette__textS__stack);
  font-size: var(--rh__type-palette__textS__font-size);
  font-style: normal;
  font-weight: var(--rh__type-palette__textS__font-weight);
  line-height: var(--rh__type-palette__textS__line-height);
  letter-spacing: var(--rh__type-palette__textS__letter-spacing);
  text-decoration: unset;
  height: 100%;
  padding: 0px;
  min-width: 13px;
  margin-right: 0px;
  margin-left: 0px;
  outline: none;
  border: none;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--rh__size-palette__borderRadius);
  -webkit-transition: border-color 200ms ease 0s;
  transition: border-color 200ms ease 0s;
  background-color: var(--rh__neutral-bg1);
  border-color: var(--rh__neutral-bg3);
  height: var(--rh__size-palette__cellHeightSm);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 14px;
}

.login-username_input:focus {
  border-color: #00c805;
}

.login-password_input:focus {
  border-color: #00c805;
}

.login-form_reset {
  color: var(--rh__primary-base);
  font-weight: 400;
  text-decoration: none;
  font-family: var(--rh__type-palette__textS__stack);
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
}

.login-form_reset:hover {
  -webkit-text-decoration: underline #00c805;
          text-decoration: underline #00c805;
}

.footer-login_form {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.footer-login_btn {
  color: white;
  background-color: #00c805;
  border: none;
  outline: none;
  font-family: var(--rh__type-palette__textSBold__stack);
  font-size: var(--rh__type-palette__textSBold__font-size);
  font-style: normal;
  font-weight: var(--rh__type-palette__textSBold__font-weight);
  line-height: var(--rh__type-palette__textSBold__line-height);
  letter-spacing: var(--rh__type-palette__textSBold__letter-spacing);
  padding: 0px 48px;
  height: 48px;
  border-radius: 4px;
  cursor: pointer;
}

.footer-login_btn:hover {
  background-color: var(--rh__primary-hover);
}

.footer-login_text {
  color: var(--rh__text-color);
  font-family: var(--rh__type-palette__textS__stack);
  font-size: var(--rh__type-palette__textS__font-size);
  font-style: normal;
  font-weight: var(--rh__type-palette__textS__font-weight);
  line-height: var(--rh__type-palette__textS__line-height);
  letter-spacing: var(--rh__type-palette__textS__letter-spacing);
}

.footer-login_text .footer-login_link {
  color: #00c805;
  font-family: var(--rh__type-palette__textSBold__stack);
  font-size: var(--rh__type-palette__textSBold__font-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--rh__type-palette__textSBold__line-height);
  letter-spacing: var(--rh__type-palette__textSBold__letter-spacing);
  text-decoration: none;
}

.footer-login_text .footer-login_link:hover {
  -webkit-text-decoration: underline #00c805;
          text-decoration: underline #00c805;
}
